<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Search for Bower packages. Bower is a package manager for the web.">
		<meta name="author" content="The Bower team">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta property="og:title" content="Bower search">
		<meta property="og:type" content="website">
		<meta property="og:url" content="bower.io/search">
		<meta property="og:image" content="http://bower.io/img/bower-logo.png">
		<title>Bower Packages</title>

		<link href="./dist/app.css" rel="stylesheet">
	</head>

	<body ng-app="BowerComponents" ng-controller="IndexController">
		<header>
			<div class="container">
				<div class="col-md-12">
					<h1>
						Bower Packages
					</h1>

					<div class="logo">
						<a href="http://bower.io/">
							<img src="http://bower.io/img/bower-logo.png" alt="bower logo">
						</a>
					</div>

					<p>Instantly search Bower packages!</p>

					<input id="q" type="search" results="5" autofocus="autofocus" ng-model="q" ng-change="search()" class="form-control" placeholder="e.g. 'package-name', OR 'keyword', OR 'keyword owner:jquery'" />
				</div>
			</div>
		</header>

		<section>
			<div class="container">
				<div class="row">
					<div ng-show="!loading && results.length" class="col-md-12">
						<table class="table table-hover">
							<thead>
								<th><a ng-click="sortResults('name')">Name</a></th>
								<th class="hidden-xs"><a ng-click="sortResults('owner')">Owner</a></th>
								<th class="hidden-xs"><a ng-click="sortResults('stars')">Stars</a></th>
								<th class="hidden-xs"><a ng-click="sortResults('updated')">Updated</a></th>
							</thead>
							<tbody>
								<tr ng-repeat="result in results">
									<td class="name">
										<h4>
											<a href="{{result.website}}">
												{{result.name}}
											</a>
										</h4>

										<p class="description" title="{{result.description}}">
											{{result.description}}
										</p>

										<p class="visible-xs">
											<span class="label">Owner: {{result.owner}}</span>
											<span class="label">Stars: {{result.stars}}</span>
											<span class="label">Updated: {{formatDate(result.updated)}}</span>
										</p>
									</td>
									<td class="hidden-xs owner">{{result.owner}}</td>
									<td class="hidden-xs stars">{{result.stars}}</td>
									<td class="hidden-xs updated">{{formatDate(result.updated)}}</td>
								</tr>
							</tbody>
						</table>
					</div>

					<ul ng-show="!loading && results.length" class="pager">
						<li ng-class="{disabled: !hasPrev()}"><a ng-click="goToPrev()">&larr; Previous</a></li>
						<li ng-class="{disabled: !hasNext()}"><a ng-click="goToNext()">Next &rarr;</a></li>
					</ul>

					<div ng-show="!loading && results.length" class="pager-info">
						{{count}} matched results. Showing page {{page}} of {{pagesCount}}.
					</div>

					<div ng-show="!loading && !results.length" class="col-md-12">
						<div class="alert alert-warning">
							You search didn't return any results. Please try a different keyword.
						</div>
					</div>

					<div ng-show="loading" class="spinner">
						<div class="bounce1"></div>
						<div class="bounce2"></div>
						<div class="bounce3"></div>
					</div>

					<div ng-show="loadingError" class="col-md-12">
						<div class="alert alert-danger">
							Couldn't fetch packages list from the registry. Please try refreshing the browser again.
						</div>
					</div>
				</div>
			</div>
		</section>

		<a href="https://github.com/bower/search"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

		<script src="./dist/app.js"></script>
		<script>var _gaq=[['_setAccount','UA-43531210-2'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>
	</body>
</html>

